

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;

  background-size: 20px 20px;
  background-image: linear-gradient(to right, whitesmoke 1px, transparent 1px), linear-gradient(to bottom, whitesmoke 1px, transparent 1px);
}
html, body, #root, #screen, #root > div {
  width: 100%;
  height: 100%;
}

.rTable {  /* <table> */
  	/* display: table; */
  	width: 100%;
}
.rTableRow {  /* <tr> */
  	display: table-row;
}
.rTableHeading {  /* <thead> */
  	display: table-header-group;
  	background-color: #ddd;
}
.rTableCell, .rTableHead {  /* <td>, <th> */
  	display: table-cell;
  	padding: 3px 10px;
  	border: 1px solid #999999;
}
.rTableFoot {  /* <tfoot> */
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {  /* <tbody> */
  	display: table-row-group;
}
.rCaption {  /* <caption> */
  display: table-caption;
  text-align: center;
}
.rCol { /* <col> */
  display: table-column;
}

.rColGroup { /* <colgroup> */
  display: table-column-group;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.titlebar {
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-color: black;
  display: flex;
  justify-content: space-between;
}

.cell {
  display: table-cell;
}

.cell, .rCaption {
  height: 20px;
  border: 1px solid #DDD;
}

.rTable {
  table-layout:fixed;
  margin-bottom: 10px;
}
.rTableCell, .rTableHead {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.rCaption {
  background-color: whitesmoke;
  font-weight: bold;
  cursor: grab;
}

.value-viewer {
  min-width: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span.data-grid-container, span.data-grid-container:focus {
  outline: none;
}

.data-grid-container .data-grid {
  table-layout: fixed;
  border-collapse: collapse;
} 

.data-grid-container .data-grid .cell {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: cell;
  background-color: unset;
  transition : background-color 500ms ease;
  vertical-align: middle;
  padding: 0;
}
.data-grid-container .data-grid .cell.selected {
  border: 1px double rgb(33, 133, 208);
  transition: none;
  box-shadow: inset 0 -100px 0 rgba(33, 133, 208, 0.15);
}

.data-grid-container .data-grid .cell.read-only {
  background: whitesmoke;
  color: #999;
  text-align: center;
  cursor: pointer;
}

.data-grid-container .data-grid .cell > .text {
  padding: 2px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.data-grid-container .data-grid .cell > input {
  outline: none !important;
  border: 2px solid rgb(33, 133, 208);
  width: calc(100% - 6px);
  height: 11px;
  background: none;
  display: block;
}
